POSTGRES_USER=ozone
POSTGRES_PASSWORD=ozone_dev_password
# Host port mapped in docker-compose.yml (5433 -> 5432)
POSTGRES_HOST_PORT=5433
REDIS_HOST_PORT=6380
MEILI_MASTER_KEY=ozoneai_meili_dev_master_key_change_me
MINIO_ROOT_USER=ozoneai
MINIO_ROOT_PASSWORD=ozoneai_dev_password
LINEAR_API_KEY=
